@tailwind base;
@tailwind componentes;
@tailwind utilities;

html, body {
  /* background-image: url("../src/assets/background-"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #010173;
}